.inner {
  margin: 0 auto;
  position: relative;
}

header > .inner {
  max-width: 1260px;
  background-color: #f6f5f0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c8c8c8;
}
header .inner img {
  padding: 20px;
}
header .inner .sub-menu {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;

}
header .inner .sub-menu > .item {
  display: flex;
}
header .inner .sub-menu > .item > .item__list {
  padding: 0 15px;
}
header .inner .sub-menu > .item > .item__list a {
  color: #656565;
  text-decoration: none;
  display: block;
}
header .inner .sub-menu > .item > .item__list:hover a {
  color: #669900;
}
header .inner .sub-menu .search {
  position: relative;
  height: 50px;
  margin: auto 0;
  top: 0;
  bottom: 0;
}
header .inner .sub-menu .search > input {
  position: absolute;
  width: 250px;
  height: 35px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #669900;
}
header .inner .sub-menu .search .material-icons {
  margin: auto 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
